.root {
  margin: 5rem 0rem 0rem;
}
.input {
  width: 100%;
  border-radius: 5px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  margin: 6px 0px 12px;
  border: 1px solid black;
}
.submit_btn {
  width: 100%;
  background-color: #0e2b7d;
  border: 0px solid black;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 6px;
}
